{% load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>Re:Re:ss</title>
  <meta name="description" content="top description">
  <meta name="format-detection" content="telephone=no" />
                        <!--▼▼jqueryの3のバージョン▼▼-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                        <!--▼▼bootstrapの使用▼▼-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                                <!--▼▼fontawesomeの使用▼▼-->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
                              <!--▼▼メニューバー▼▼-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/css/drawer.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/js/drawer.min.js"></script>
  <script src='{% static 'gv/base/js/nav.js' %}'></script>
                              <!--▼▼自分のcss▼▼-->
  <link rel="stylesheet" href='{% static 'gv/base/css/style.css'%}'>
  <style type="text/css">
    a:link { color : #000000; }
    a:visited { color : #000000; }
  </style>

  {% block css %}
  {% endblock %}

</head>

<body class="drawer drawer--left drawer--sidebar">

<!-- ハンバーガーボタン -->
<button type="button" class="drawer-toggle drawer-hamburger">
  <span class="sr-only">toggle navigation</span>
  <span class="drawer-hamburger-icon"></span>
</button>

<nav class="drawer-nav">
  <div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
  <ul class="drawer-menu">
    <!-- ドロワーメニューの中身 -->
      <br><br><br>
      <a href="{% url 'hp' %}"><img src="{% static 'gv/images/titlelogo.PNG'%}" width="100%"></a><br><br>
      <div class="drawer_li_div"><li><a href={% url 'hp' %}><i class="fa fa-edit fa-fw"></i><u>Top Pag</u></a></li></div><br>
      <div class="drawer_li_div"><li><a href={% url 'shop_search' %}><i class="fa fa-edit fa-fw"></i><u>飲食店検索</u></a></li></div><br>
      <div class="drawer_li_div"><li><a href={% url 'review' %}><i class="fa fa-edit fa-fw"></i><u>飲食店登録</u></a></li></div><br>
      <div class="drawer_li_div"><li><a href={% url 'mainhome_after_login' %}><i class="fa fa-table fa-fw"></i><u>成績グラフ表示</u></a></li></div><br>
      <div class="drawer_li_div"><li><a href={% url 'detail' %}><i class="fa fa-table fa-fw"></i><u>成績・履修詳細</u></a></li></div><br>
     
      <div class="drawer_li_div"><li><a href='#'><i class="fa fa-sitemap fa-fw"></i><u>Taimee</u></a></li></div><br>
    </ul>


  </ul>
</div>
</div><!--row-->
</nav>

<!--要素はすべてsectionの中へ-->
<section class="drawer-contents">
  <div class="background">
    <!-- コンテンツ部分 -->
    <div class="contents-space">
    </div><!--contents-space/ハンバーガーとかぶらないように隙間を空ける-->
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1" id="body-design3">
        {% block body %}
        {% endblock %}
      </div><!--col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1-->
    </div><!--row-->
  </div><!--background-->
</section>

{% block js %}
{% endblock %}
 <script>
 $(document).ready(function() {
  $(".drawer").drawer();
});
 </script>
</body>
</html>
