{% extends 'gv/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel='stylesheet' type='text/css' href='{% static 'gv/course/my_course.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/course/button.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/course/table.css' %}' />

{% endblock%}



{% block body %}
<!--メインの部分-->
  <h3 class="page-header" style="text-align:center;">履修を考えよう<br>学科別 人気授業統計</h3>

  <div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
      <form action='{% url 'course' %}' method='post' name='course'>
        {% csrf_token %}
          <div class="row" id="category-box">
            <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
                <div class="cp_ipselect cp_sl04 line">
                    {{ form.category1 }}
                </div>
            </div><!--col-xs-6-->
          </div><!--row-->
            <button class="hamon">
              絞りこみ
            </button>
      </form>
    </div>
  </div>
<br>

  <table>
    <thead>
      <tr>
        <th>　  あなたの学科で人気の授業<br>（クリックで授業の詳細を表示）</th>
        <th>履修者<br>数合計</th>
      </tr>
    </thead>
    <tbody>
      {% for message in sub_list_counter %}
      <tr>
        <td>
          <form method="POST" action="{% url 'sirabasu' %}" target="_blank">
            {% csrf_token %}
            <input type="hidden" name="sub-name" value="{{message.0}}">
            <a href="javascript:void(0)" onclick="this.parentNode.submit()">{{message.0}}</a>
          </form>
        </td>
        <td>{{ message.1 }}人</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    {% if sub_list_counter.has_previous %}
      <a href="{% url 'course' %}">&laquo;first</a>
      <a href="{% url 'course' %}/{{sub_list_counter.previous_page_number}}">&laquo;prev</a>
    {% endif %}
    <span class"current">
      [{{sub_list_counter.number}}/{{sub_list_counter.paginator.num_pages}}]
    </span>
    {% if sub_list_counter.has_next %}
      <a href="{% url 'course' %}/{{sub_list_counter.next_page_number}}">next&raquo;</a>
      <a href="{% url 'course' %}/{{sub_list_counter.paginator.num_pages}}">last&raquo;</a>
    {% endif %}
  </div><!--pagination-->

{% endblock %}









{% block js %}
<script>
$(document).ready(function() {


 var texts = $(".sub-name").map(function(){
     return $(this).text();
 }).get();
 console.log(texts[0])

});



</script>

{% endblock %}
