{% extends 'gv/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel='stylesheet' type='text/css' href='{% static 'gv/detail/detail.css' %}' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>



{% endblock%}

{% block body %}
<!--メインの部分-->
<img src="/static/gv/detail/images/zyuni.png" alt="Re:Re:ss" width="100%"/>
 <button id="openModal"><i class="fa fa-search fa-3x" aria-hidden="true"></i></button>



<!-- モーダルエリアここから -->
<section id="modalArea" class="modalArea">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
    <div class="modalContents">
      <form action='{% url 'detail' %}' method='post' name='detail'>
        {% csrf_token %}
          <div class="row">
            <div class="col-xs-12">
              <div class="detail-search">
                {{form.subname_teacher|add_class:"field"|attr:"placeholder:教科名/先生"}}
              </div><!--detail-search-->
            </div><!--col-xs-12-->
            <div class="col-xs-6 no-padding">
              <div class="cp_ipselect cp_sl04 line">
                {{ form.year }}
              </div><!--cp_ipselect cp_sl04-->
            </div><!--col-xs-6 no-padding-->
            <div class="col-xs-6 no-padding">
              <div class="cp_ipselect cp_sl04 line">
                {{ form.season }}
              </div><!--cp_ipselect cp_sl04-->
            </div><!--col-xs-6 no-padding-->
            <div class="col-xs-6 no-padding">
              <div class="cp_ipselect cp_sl04 line">
                {{ form.category1 }}
              </div><!--cp_ipselect cp_sl04-->
            </div><!--col-xs-6 no-padding-->
            <div class="col-xs-6 no-padding">
              <div class="cp_ipselect cp_sl04 line">
                {{ form.grade }}
              </div><!--cp_ipselect cp_sl04-->
            </div><!--col-xs-6 no-padding-->
          </div><!--row-->
        <div><!--button-->
          <div class="detail_button_div">
            <button class="detail_button">
              成績を見る
            </button>
          </div><!--detail-button-div-->
        </div><!--button-->
      </form>
    </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>
<!-- モーダルエリアここまで -->


  <script>/*
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="panel panel-info">
    	   <div class="panel-heading" style="text-align:center;">
           成績詳細
    	    </div><!--panel-heading-->
    	    <div class="panel-body detail_panel">
            <form action='{% url 'detail' %}' method='post' name='detail'>
              {% csrf_token %}
                <div class="row">
                  <div class="col-xs-12">
                    <div class="detail-search">
                      {{form.subname_teacher|add_class:"field"|attr:"placeholder:教科名/先生"}}
                    </div><!--detail-search-->
                  </div><!--col-xs-12-->
                  <div class="col-xs-6">
                    <div class="cp_ipselect cp_sl04 line">
                      {{ form.year }}
                    </div><!--cp_ipselect cp_sl04-->
                  </div><!--col-xs-6-->
                  <div class="col-xs-6">
                    <div class="cp_ipselect cp_sl04 line">
                      {{ form.season }}
                    </div><!--cp_ipselect cp_sl04-->
                  </div><!--col-xs-6-->
                  <div class="col-xs-6">
                    <div class="cp_ipselect cp_sl04 line">
                      {{ form.category1 }}
                    </div><!--cp_ipselect cp_sl04-->
                  </div><!--col-xs-6-->
                  <div class="col-xs-6">
                    <div class="cp_ipselect cp_sl04 line">
                      {{ form.grade }}
                    </div><!--cp_ipselect cp_sl04-->
                  </div><!--col-xs-6-->
                </div><!--row-->
              <div><!--button-->
                <div class="detail_button_div">
                  <button class="detail_button">
                    成績を見る
                  </button>
                </div><!--detail-button-div-->
              </div><!--button-->
            </form>
    	    </div><!--panel-body-->
      </div><!--panel-primary-->
    </div><!--col-->
  </div><!--row-->
  */</script>

      <div class="">
        <table class='type06 table_center_class' id="report" width="100%">
          <thead>
            <tr>
              <th>科目名</th>
              <th>成績</th>
            </tr>
          </thead>
          <tbody>
            {% for message in filtered_sub %}
            <tr>
              <td>{{ message.subjectname }}</td>
              <td>{{ message.grade }}</td>
            </tr>
            <tr>
              <td colspan="40">
                <div class="line">
                  <p style="text-align: center;">
                  ▲この授業の詳細▲<br>先生の名前:{{message.teacher}}<br>
                  受講年度:{{message.year_int}}<br>季節:{{message.season}}
                </p>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!--line-->


{% endblock %}


{% block js %}
<script>
$(function () {
  $('#openModal').click(function(){
      $('#modalArea').fadeIn();
  });
  $('#closeModal , #modalBg').click(function(){
    $('#modalArea').fadeOut();
  });
});
</script>

<!--テーブルをクリックすると拡大するjs-->
<script src='{% static 'gv/detail/jExpand.js' %}'></script><!--tableを押すと列が拡大する-->
<script>
$("#report tr:odd").addClass("master");
$("#report tr:not(.master)").hide();
$("#report tr:first-child").show();
$("#report tr.master").click(function(){
    $(this).next("tr").toggle();
    $(this).find(".arrow").toggleClass("up");
});
</script>

{% endblock %}
