{% extends 'gv/basetop.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel='stylesheet' type='text/css' href='{% static 'gv/detail/detail.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/detail/button.css' %}' />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<link rel='stylesheet' type='text/css' href='{% static 'gv/course/table.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/counter/my_teacher_search.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/counter/table.css' %}' />

<style>
  .input_group{
    margin: 5px;
  }
  .select_detail {
    overflow: hidden;
    /* width: 90%; */
    /* margin: 2em auto; */
    text-align: center;
  }
  .select_detail select {
    /* width: 100%; */
    /* padding-right: 1em; */
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .select_detail select::-ms-expand {
    display: none;
  }
  .select_detail.select_d {
    position: relative;
    border-radius: 2px;
    border: 2px solid #BBC8FF;
    border-radius: 50px;
    background: #ffffff;
  }
    .select_detail.select_d::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #BBC8FF;
    pointer-events: none;
  }
  .select_detail.select_d select {
    padding: 8px 38px 8px 8px;
    color: #BBC8FF;
  }
</style>
{% endblock%}

{% block body %}
<!--メインの部分-->
  <img alt="" src="{% static 'gv/detail/images/zyuni.png'%}" width='100%'>




  <!--<h4 style="text-align:center">gpaランキング</h4>-->
      <div class="pi reset-ani">
        <div class="ani-ex">
          <p class="gpa_p">
            <!--<b>あなたのgpa:<span style='color:red;'>{{ran_1.1|safe}}</span></b><br>-->
            <b>あなたのGPA:<span class="red" style='color:red;'><span class="1"></span></span></b><br>
            <b>順位:<span class="red" style='color:red;'><span class="4"></span></span>位/<span class="0"></span>人中</b>
          </p>
        </div>
        <img alt="" src="{% static 'gv/detail/p.PNG'%}", width=100%>
        <div class="animation">
          <div class="absolute-ani">
            <span class="num"><span class="2"></span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <select class="select-select cp_ipselect cp_sl04 line">
        </select>
      </div>

      <br>




      <form action="#">
        <select name="search" value="" id="id_search1" class="input_group select_detail select_d">
          <option value=" ">成績</option>
          <option value="履修中">履修中</option>
          <option value="Ｓ">Ｓ</option>
          <option value="Ａ">Ａ</option>
          <option value="Ｂ">Ｂ</option>
          <option value="Ｃ">Ｃ</option>
          <option value="Ｄ">Ｄ</option>
        </select>
        <select name="search" value="" id="id_search2" class="input_group select_detail select_d" >
          <option value=" ">年度</option>
        </select>
        <select name="search" value="" id="id_search3" class="input_group select_detail select_d" >
          <option value=" ">学期</option>
          <option value="春学期">春学期</option>
          <option value="秋学期">秋学期</option>
          <option value="通年">通年</option>
        </select>
        <select name="search" value="" id="id_search4" class="input_group select_detail select_d" >
          <option value=" ">カテゴリ</option>
        </select>

        <!-- <input type="text" name="search" value="" id="id_search_main"/> -->
        <input type="hidden" name="search" value="" id="id_search_main"/>

      </form>


      <div id="report2" class="pi">
        <table width="100%">
          <thead>
            <tr>
              <th class="tabth" width="70%">科目名(<strong class="non-class" style="background: linear-gradient(transparent 60%, #ff99ff 60%);">クリックで授業分析へ</strong>)</th>
              <th class="tabth" width="30%">成績状況</th>
              <th class="hidden-table">season</th>
              <th class="hidden-table">category1></th>
              <th class="hidden-table">year</th>
              <th class="hidden-table">year</th>
            </tr>
          </thead>
          <tbody>
            {% for message in filtered_sub %}
            <tr>
              <td>
                <form method="post" action="{% url 'sub_search' %}">
                  {% csrf_token %}
                  <input type="hidden" name="s_name" value="{{message.subjectname}}">
                  <a href="javascript:void(0)" onclick="this.parentNode.submit()"><span class="non-class" style="background: linear-gradient(transparent 97%, #000 50%);">{{message.subjectname}}</span></a>
                </form>
              </td>
              {% if message.grade == '履' %}
                <td>履修中</td>
              {% else %}
                <td>{{ message.grade }}</td>
              {% endif %}

              <td class="hidden-table">{{message.season}}</td>
              <td class="hidden-table">{{message.category1}}</td>
              <td class="hidden-table">{{message.year_int}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <br>
      </div><!--line-->


{% endblock %}


{% block js %}

<script>
  function make_rank(ran_1) {
  $('.animation')
    .animate({
      top: ran_1[2] + '%',
      width:ran_1[3] + '%'
    }, 2000, 'swing', function () {
        // アニメーション完了後に実行され
        //alert('done!');
        if (50<Number(ran_1[2])&&Number(ran_1[2])<75) {
          $('.ani-ex').css('top','268px');
        }
        if (Number(ran_1[2])<10) {
          $('.num').css('bottom','-50px');
        }
        $(".0").text(ran_1[0])//全体の人数
        $(".1").text(ran_1[1])//自分のgpa
        $(".2").text(ran_1[2].toFixed(1) + '%')//自分のgpa
        $(".4").text(ran_1[4])//自分の順位
        $('.gpa_p').css('display','block');
    });
  }
</script>
<!--セレクトボックスの値によって変更する-->
<script>
$(".select-select").change(function () {
var str = $(this).val();
if (str==sn.slice(0,4)) {
  var ran_2 = {{ran_2|safe}}
  $('.reset-ani *').removeAttr('style');
  $('.red').css('color','red');
  make_rank(ran_2);
} else if (str==sn.slice(0,2)) {
  var ran_1 = {{ran_1|safe}}
  $('.reset-ani *').removeAttr('style');
  $('.red').css('color','red');
  make_rank(ran_1);
}
})
</script>


<!--セレクトボックスの中身を変更-->
<script>
  var sn = "{{sn}}"
  var belongs = "{{belongs}}"
  $('.select-select').append($('<option>').html("20"+sn.slice(0,2)+"年度入学者").val(sn.slice(0,2)));
  $('.select-select').append($('<option>').html("20"+sn.slice(0,2)+"年度入学の"+belongs).val(sn.slice(0,4)));
  var ran_1 = {{ran_1|safe}}//配列
  make_rank(ran_1);
</script>

<script>
  var category1_list = {{category1_list|safe}}
  var year_list = {{year_list|safe}}

  for(var i=0;i<category1_list.length;i++){
    $('#id_search4').append($('<option>').html(category1_list[i]).val(category1_list[i]));
  }

  for(var i=0;i<year_list.length;i++){
    $('#id_search2').append($('<option>').html(year_list[i]).val(year_list[i]));
  }
</script>


{% endblock %}
