
{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Grade Visualizer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel='stylesheet' type='text/css' href='{% static 'gv/css/style.css' %}' />
	</head>
	<body id = class="landing is-preload body">
		<h2>Grade Visualizer</h2>
    <p>{{str}}</p>
		<form action="{% url 'deteil' %}" method='post'>
		{% csrf_token %}
	  {{ form }}
	  <input type="submit" value = '検索してみよう!!!'/>
		</form>
	</body>
</html>
