{% extends 'gv/base.html' %}
{% load static%}
{% load widget_tweaks %}

{% block css %}

<!--homepageのcss-->
<link rel='stylesheet' type='text/css' href='{% static 'gv/homepage/homepage.css' %}' />

<!--ログインフォームのplacefolderの中央寄せ-->
<style type='text/css'>
.input100::-webkit-input-placeholder {
  text-align: center;
}
</style>



<script>/*<!--いらないことが判明-->
<!--=======================================ログインのcss===================================================-->
<link rel="icon" type="image/png" href='{% static 'gv/login/images/icons/favicon.ico' %}' />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/bootstrap/css/bootstrap.min.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/animate/animate.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/css-hamburgers/hamburgers.min.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/animsition/css/animsition.min.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/select2/select2.min.css' %}'>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/daterangepicker/daterangepicker.css' %}'>
<!--===============================================================================================-->
*/</script>

<!--ログインフォームはここが必要-->
<link rel="stylesheet" type="text/css" href='{% static 'gv/homepage/login/css/util.css' %}'>
<link rel="stylesheet" type="text/css" href='{% static 'gv/homepage/login/css/main.css' %}'>



<!--===============================================スライド====================================================-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<!--
<script src="{% static 'gv/homepage/slider/jquery.bxslider.min.js'%}"></script>
<link href="{% static 'gv/homepage/slider/jquery.bxslider.css'%}" rel="stylesheet" />-->
<!--===============================================================================================================-->
{% endblock%}


{% block body %}


<!---いったん消しとく-->
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="page-head" style="text-align:center;">
      <a href="{% url 'hp' %}"><img src="/static/gv/homepage/images/titlelogo2.PNG" alt="Re:Re:ss" width="220" height="90" border="0" /></a>
    </div><!--page-head-->
    <div id="jump201"></div><!--飛んでくる場所-->
    <!--<h4 class="jump-tag" class="sub-title">Re:Re:ss</h4><br><br>-->
    <!--<h3 id="hp-title2">  立教生のデータを繋ぐ<br>Re:Re:ss</h3><br>-->
    <!--<p class="under-linep">Re:Re:ssは、立教大学WEBシステムと連携して、成績データを履修登録に活用するためのシステムです。</p><br>-->
  </div><!--col-lg-12-->
</div><!--row-->




<script>/*
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <div class="user-form">
      <div class="limiter">
        <!--<div class="container-login100">-->
        <!--<div class="wrap-login100">-->
          <form class="login100-form validate-form flex-sb flex-w" action='{% url 'mainhome' %}' method='post' , name='mainhome'>
            {% csrf_token %}
            <span class="login100-form-title">学生ログイン</span><br><br><br>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
              {{form.stunum|add_class:"input100"|attr:"placeholder:学籍番号"}}
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
              {{form.password|add_class:"input100"|attr:"placeholder:パスワード"}}
              <span class="focus-input100"></span>
            </div><!--input100-->
            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
                Commit
              </button><!--login100-form-btn-->
            </div><!--container-login100-form-btn-->
          </form>
          <!--<span class="login100-form-title p-b-51">-->
          <!--
          <span class="login100-form-title">
          <br><p class="under-linep">立教大学WEBシステムとの連携に数十秒かかります</p><br><br>
        </span>-->
        <!--</div>--><!--wrap-login100-->
      </div><!--limiter-->
    </div><!--user-form-->
  </div><!--col-->
</div><!--row-->*/
</script>

<script>/*もともとあったpanel
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!--<div id="jump103"></div>-->
            <h3 id="hp-boxhead">成績参照 グラフVer.</h3>
          </div><!--panel-heading-->
          <div class="panel-body" id="panel-body-both">
            <div class="image101">
              <ul class="bxslider">
                <li><img src="{% static 'gv/images/f.PNG'%}" width="100%"></li>
                <li><img src="{% static 'gv/images/titlelogo.PNG'%}" width="100%"></li>
                <!--<li><img src="{% static 'gv/images/h.jpg'%}" width="100%"></li>-->
              </ul>
              <a href="#jump201">
                <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn">
                    <h2 id="hp-boxhead">USE<h2>
                  </button>
                </div><!--container-login100-->
              </a><!--#jump-->
            </div><!--image101-->
          </div><!--panel-body-->
        </div><!--panel-primary-->
      </div><!--col-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!--<div id="jump104"></div>-->
            <h3 id="hp-boxhead">成績参照 テーブルVer.</h3>
          </div><!--panel-heading-->
          <div class="panel-body" id="panel-body-both">
              <div class="image101">
                <ul class="bxslider">
                  <li><img src="{% static 'gv/images/f.PNG'%}" width="100%"></li>
                  <li><img src="{% static 'gv/images/graph_ex2.PNG'%}" width="100%"></li>
                </ul>
                <a href="#jump201">
                  <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                      <h2 id="hp-boxhead">USE<h2>
                    </button>
                  </div>
                </a><!--#jump101-->
              </div><!--image101-->
          </div><!--panel-body-->
        </div><!--panel-heading-->
      </div><!--col-->
    </div><!--row-->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!--<div id="jump101"></div>-->
            <a href='{% url 'course' %}'><h3 id="hp-boxhead">学科別 人気授業統計</h3></a>
          </div><!--panel-heading-->
          <div class="panel-body" id="panel-body-both">
            <div class="image101">
              <img src="{% static 'gv/images/f.PNG'%}" width="100%"><br>
              <a href='#jump201'>
                <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn">
                    <h2 id="hp-boxhead">USE<h2>
                  </button>
                </div><!--container-->
              </a><!--course-->
            </div><!--image101-->
          </div><!--panel-body-->
        </div><!--panel-primary-->
      </div><!--col-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!--<div id="jump102"></div>-->
            <a href='{% url 'teacher_search' %}'><h3 id="hp-boxhead">教師別 成績判定統計</h3></a>
          </div><!--panel-heading-->
          <div class="panel-body" id="panel-body-both">
            <div class="image101">
              <img src="{% static 'gv/images/f.PNG'%}" width="100%"><br>
              <a href='jump201'>
                <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn">
                    <h2 id="hp-boxhead">USE<h2>
                  </button>
                </div><!--container-->
              </a><!--teacher_search-->
            </div><!--image101-->
          </div><!--panel-body-->
        </div><!--panel-primary-->
      </div><!--col-->
    </div><!--row-->
  </div><!--col全体-->
</div><!--row-->
*/</script>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

    <div class="row">
      <!--<a href="#jump201">-->
        <div class="col-lg-12 no-padding">
          <div class="form-div"><!--画像の中にログインformを埋め込む-->

            <img src="{% static 'gv/homepage/images/hpmain.jpg'%}" class="mainimage" width="100%">
            <div class="row form-in-img">
              <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="user-form">
                  <div class="limiter">
                    <form class="login100-form validate-form flex-sb flex-w" action='{% url 'mainhome' %}' method='post' , name='mainhome'>
                      {% csrf_token %}
                      <!--<span class="login100-form-title">学生ログイン</span><br><br><br>-->
                      <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        {{form.stunum|add_class:"input100"|attr:"placeholder:学籍番号"}}
                        <span class="focus-input100"></span>
                      </div>
                      <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        {{form.password|add_class:"input100"|attr:"placeholder:パスワード"}}
                        <span class="focus-input100"></span>
                      </div><!--input100-->
                      <!--<div class="container-login100-form-btn m-t-17">-->
                      <div class="container-login100-form-btn">
                        <div class="zigzag">
                          <button class="login100-form-btn">
                            提出
                          </button><!--login100-form-btn-->
                        </div>
                      </div><!--container-login100-form-btn-->
                    </form>
                  </div><!--limiter-->
                </div><!--user-form-->
              </div><!--col-->
            </div><!--row form-in-img-->

          </div><!--form-div-->
        </div><!--col-->
      <!--</a>--><!--jump-->
      <a href="#jump201">
        <div class="col-lg-6 no-padding">
          <img src="{% static 'gv/homepage/images/hp1.jpg'%}" width="100%">
        </div>
      </a><!--jump-->
      <a href="#jump201">
        <div class="col-lg-6 no-padding">
          <img src="{% static 'gv/homepage/images/hp2.jpg'%}" width="100%">
        </div>
      </a><!--jump-->
    </div><!--row-->
    <div class="row">
      <a href="#jump201">
        <div class="col-lg-6 no-padding">
          <img src="{% static 'gv/homepage/images/hp3.jpg'%}" width="100%">
        </div>
      </a><!--jump-->
      <a href='{% url 'teacher_search' %}'>
        <div class="col-lg-6 no-padding">
          <img src="{% static 'gv/homepage/images/hp4.jpg'%}" width="100%">
        </div>
      </a>
    </div><!--row-->

  </div><!--col-->
</div><!--row-->




  {% endblock%}

  {% block js %}
<!--スライド-->
<!--
<script type="text/javascript">
$(document).ready(function(){
$('.bxslider').bxSlider();
});
</script>
-->

<!--不正に入ろうとしたときにでるalert-->
<script>
  var message = "{{message|safe}}"
  var length = message.length
  if(message!=0){
  alert(message);
  }
</script>

  {% endblock %}
