{% extends 'gv/base.html' %}
{% load static%}

{% block css %}
  <!--  #######css homepage & mainhome ##############   -->
  <!--  #######js homepage & base ####################   -->

  <!--  ##############################################   -->
  <!--  ################    css    from    homepage  #########   -->
  <!--  ##############################################   -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/homepage/homepage.css' %}' />

    <!-- プログレスバー -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/homepage/style2.css' %}' />


    <!--  ##############################################   -->
    <!--  ################    css    from    mainhome  #########   -->
    <!--  ##############################################   -->

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/bootstrap.min.css' %}' />
    <!--<link href="../css/bootstrap.min.css" rel="stylesheet">-->

    <!-- MetisMenu CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/metisMenu.min.css' %}' />
    <!--<link href="../css/metisMenu.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/startmin.css' %}' />
    <!--<link href="../css/startmin.css" rel="stylesheet">-->

    <!-- Morris Charts CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/morris.css' %}' />
    <!--<link href="../css/morris.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/font-awesome.min.css' %}' />
    <!--<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

{% endblock%}


{% block body %}

<div id="page-wrapper" class='page-wrapper'>
  <div class="row">
    <div class="col-lg-12">
      <!--h1 class="page-header">Re:Re:ss</h1-->
      <div class="page-head">
      <a href="{% url 'hp' %}"><img src="/static/gv/images/titlelogo.PNG" alt="Re:Re:ss" width="220" height="90" border="0" /></a>
    </div>
    </div>
  </div>
      <div class=header-logo><h1>--- Record Registration Server System ---</h1></div>
      <div id="container"></div>
      <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>
      <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
      <script src="{% static 'gv/homepage/purogres.js' %}" language="JavaScript"></script>
      <script>
      </script>

    <div class="copy-container">
        <p>What's Re:Re:ss?</p>

    <p>Re:Re:ssは、立教生のあらゆる生活場面のデータ化により<br>
        誰もがデータを活用できるプラットフォームを構築することを使命とするシステムです。</p>
    <p><br>
        Re:Re:ssと<a href='https://r.rikkyo.ac.jp'>立教大学WEBシステム</a>を連携させることで、多彩な拡張機能を利用できます。 </p>

    </div>
    <div>
        <div class=".col-lg-pull-8 col-xs-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><a href='{% url 'index' %}'>Re:Re:ss  Functions</a></h4>
            </div>
            <div class="panel-body">
                <div>

                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href='{% url 'shop_search' %}'>立教大学周辺　飲食店データ検索</a></h4>
                    </div>
                    <div class="panel-body">
                        <div class="image101">
                                <img src="{% static 'gv/images/graph_ex4.PNG'%}" width="100%">
                        </div>
                        <ul style="list-style:none;">

                            <li>立教生たちが実際に使ったことのある飲食店のデータを閲覧できます。</li>
                            <li>場所や料金、滞在時間からインスタ映え具合まで様々な条件に合わせて検索しよう</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href='{% url 'review' %}'>飲食店データ登録</a></h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="image101">
                                <img src="{% static 'gv/images/graph_ex15.PNG'%}" width="100%">
                            </div>
                            <ul style="list-style:none;">

                                <li>実際に行ったお店や施設の情報をデータベースに登録しよう</li>
                                <li>お店を登録してDBポイントをゲット</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href='{% url 'index' %}'>成績グラフ表示</a></h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="image101">
                                <img src="{% static 'gv/images/graph_ex2.PNG'%}" width="100%">
                            </div>

                            <ul style="list-style:none;">
                                <li>ユーザーの成績をわかりやすくビジュアライズ</li>
                                <li>残単数も一目で丸わかり！</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href='{% url 'index' %}'>成績・履修詳細</a></h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="image101">
                                <img src="{% static 'gv/images/graph_ex3.PNG'%}" width="100%">
                            </div>

                            <ul style="list-style:none;">
                                <li>ユーザーの成績や履修状況を表形式でディスプレイ</li>
                                <li>科目区分ごとの参照機能も搭載</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><a href='https://taimee.co.jp/'>Use Taimee</a></h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="image101">
                                <img src="{% static 'gv/images/graph_ex16.PNG'%}" width="100%">
                            </div>
                            <ul style="list-style:none;">
                                <li>面接無しで隙間時間アルバイト</li>
                                <li>立教発で日本初の隙間時間ワークシステムを使ってお小遣い稼ぎ。</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
    </div>

    </div>
</div>
<!-- /main -->


{% endblock%}

{% block js %}

<!--  ##############################################   -->
<!--  ################    js    from    homepage  #########   -->
<!--  ###################    1  content    ###############   -->


<!--  ##############################################   -->
<!--  ################    js    from    base  #########   -->
<!--  ##############################################   -->



{% endblock %}
