
{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Grade Visualizer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel='stylesheet' type='text/css' href='{% static 'gv/css/style3.css' %}' />

	</head>
	<body id = class="landing is-preload body">
		<h2>Grade Visualizer</h2>
		<p>{{message|safe}}</p>
		<form action='{% url 'get' %}' method='post', name = 'get'>
		{% csrf_token %}
	  {{ form }}
	  <input type="submit" value = '成績を見てみよう!!!'/>
		</form>
        <p>
		<a href='{% url 'deteil' %}'>show deteil</a>
		<a href='{% url 'detail' %}'>show detail</a>
        </p>
        <div id="container"></div>
        <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>
        <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
        <script src="{% static 'gv/js/purogres.js' %}" language="JavaScript"></script>
        <script>
        </script>

	</body>
</html>
