
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

<head>

	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href='{% static 'gv/login/images/icons/favicon.ico' %}'/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/bootstrap/css/bootstrap.min.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/animate/animate.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/css-hamburgers/hamburgers.min.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/animsition/css/animsition.min.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/select2/select2.min.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/vendor/daterangepicker/daterangepicker.css' %}'>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/css/util.css' %}'>
	<link rel="stylesheet" type="text/css" href='{% static 'gv/login/css/main.css' %}'>





    <link rel='stylesheet' type='text/css' href='{% static 'gv/css/homepage.css' %}' />

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/bootstrap.min.css' %}' />
    <!--<link href="../css/bootstrap.min.css" rel="stylesheet">-->

    <!-- MetisMenu CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/metisMenu.min.css' %}' />
    <!--<link href="../css/metisMenu.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/startmin.css' %}' />
    <!--<link href="../css/startmin.css" rel="stylesheet">-->

    <!-- Morris Charts CSS -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/morris.css' %}' />
    <!--<link href="../css/morris.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/font-awesome.min.css' %}' />
    <!--<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

	<!--===============================================================================================-->
</head>

<body>

    <div id="page-wrapper" class='page-wrapper'>
      <div class="row">
        <div class="col-lg-12">
            <div class="page-head">
            <a href="{% url 'hp' %}"><img src="/static/gv/images/titlelogo.PNG" alt="Re:Re:ss" width="220" height="135" border="0" /></a>
          </div>
        </div>
      </div>



          <div class="limiter">
    		<div class="container-login100">
    			<div class="wrap-login100 p-t-50 p-b-90">
    				<form class="login100-form validate-form flex-sb flex-w" action='{% url 'mainhome' %}' method='post', name = 'mainhome'>
    					{% csrf_token %}
    					<span class="login100-form-title p-b-51">
    						立教大学WEBシステム連携
    					</span>
    					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
    						{{form.stunum|add_class:"input100"|attr:"placeholder:学籍番号"}}
    						<span class="focus-input100"></span>
    					</div>


    					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
    						{{form.password|add_class:"input100"|attr:"placeholder:パスワード"}}
    						<span class="focus-input100"></span>
    					</div>

    					<div class="container-login100-form-btn m-t-17">
    						<button class="login100-form-btn">
    							Commit
    						</button>
    					</div>

    				</form>
    			</div>
    		</div>
    	</div>
    	<div id="dropDownSelect1"></div>
    </div>

</body>



<!-- jQuery -->
<script src="{% static 'gv/base/js/jquery.min.js' %}" language="JavaScript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'gv/base/js/bootstrap.min.js' %}" language="JavaScript"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'gv/base/js/metisMenu.min.js' %}" language="JavaScript"></script>


<!-- Custom Theme JavaScript -->
<script src="{% static 'gv/base/js/startmin.js' %}" language="JavaScript"></script>





<!--===============================================================================================-->
	<script src='{% static 'gv/login/vendor/jquery/jquery-3.2.1.min.js' %}'></script>
<!--===============================================================================================-->
	<script src='{% static 'gv/login/vendor/animsition/js/animsition.min.js' %}'></script>
<!--===============================================================================================-->
	<script src='{% static 'gv/login/vendor/bootstrap/js/popper.js' %}'></script>
	<script src='{% static 'gv/login/vendor/bootstrap/js/bootstrap.min.js' %}'></script>
<!--===============================================================================================-->
	<script src='{% static 'gv/login/vendor/select2/select2.min.js' %}'></script>
<!--===============================================================================================-->
	<script src='{% static 'gv/login/vendor/daterangepicker/moment.min.js' %}'></script>
	<script src='{% static 'gv/login/vendor/daterangepicker/daterangepicker.js' %}'></script>
<!--===============================================================================================-->
	<script src='{% static 'gv/login/vendor/countdowntime/countdowntime.js' %}'></script>
<!--===============================================================================================-->
	<script src='{% static 'gv/login/js/main.js' %}'></script>

</html>
