{% extends 'gv/base.html' %}
{% load static%}

{% block css %}
<!--  #######css homepage & mainhome ##############   -->
<!--  #######js homepage & base ####################   -->

<!--  ##############################################   -->
<!--  ################    css    from    homepage  #########   -->
<!--  ##############################################   -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/homepage/homepage.css' %}' />

  <!-- プログレスバー -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/homepage/style2.css' %}' />

  <!--  ##############################################   -->
  <!--  ################    css    from    mainhome  #########   -->
  <!--  ##############################################   -->

  <!-- Bootstrap Core CSS -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/bootstrap.min.css' %}' />
  <!--<link href="../css/bootstrap.min.css" rel="stylesheet">-->

  <!-- MetisMenu CSS -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/metisMenu.min.css' %}' />
  <!--<link href="../css/metisMenu.min.css" rel="stylesheet">-->

  <!-- Custom CSS -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/startmin.css' %}' />
  <!--<link href="../css/startmin.css" rel="stylesheet">-->

  <!-- Morris Charts CSS -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/morris.css' %}' />
  <!--<link href="../css/morris.css" rel="stylesheet">-->

  <!-- Custom Fonts -->
  <link rel='stylesheet' type='text/css' href='{% static 'gv/mainhome/css/font-awesome.min.css' %}' />
  <!--<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

{% endblock%}


{% block body %}

<div id="page-wrapper" class='page-wrapper'>
  <div class="row">
    <div class="col-lg-12">
      <!--h1 class="page-header">Re:Re:ss</h1-->
      <div class="page-head">
      <a href="{% url 'hp' %}"><img src="/static/gv/images/titlelogo.PNG" alt="Re:Re:ss" width="100%" /></a>
    </div>
    </div>
  </div>



    <div class="copy-container">
        <p>Re:Re:ss  Informations</p>

    </div>
    <div>
        <div class=".col-lg-pull-8 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4>設計思想</h4>
            </div>
            <div class="panel-body">
                <div>

                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="image101">
                                <img src="/static/gv/images/creating_idea.PNG" width="100%">
                        </div>

                    </div>
                  </div>
                </div>



            </div>
          </div>
        </div>
    </div>

    <div>
        <div class=".col-lg-pull-8 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
                <h4>開発者情報</h4>
            </div>
            <div class="panel-body">
                <div>

                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>安木 駿介</h4>
                    </div>
                    <div class="panel-body">
                        <div class="image101">
                                <img src="/static/gv/images/developer1.PNG" width="100%">
                        </div>
                        <ul style="list-style:none;">

                            <li>立教大学 経済学部 会計ファイナンス学科　三年</li>
                            <li>所属：須永ゼミナール　BELLONA</li>
                            <li>担当：システム企画設計・開発</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>長谷川 剛太</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="image101">
                                <img src="/static/gv/images/developer2.PNG" width="100%">
                            </div>
                            <ul style="list-style:none;">

                                <li>立教大学 理学部 物理学科　三年</li>
                                <li>所属：BELLONA</li>
                                <li>担当：システム・UI開発</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>


            </div>
          </div>
        </div>
    </div>

    </div>
</div>
<!-- /main -->

<div class="footer">
  <div id="button"></div>
<div id="f-container">
<div id="cont">
<div class="footer_center">
        <h3>
            <div class="image101">
<a href="{% url 'info' %}"><img width=80 height=80 src="/static/gv/images/footer_info.PNG"></a>              <a href="{% url 'hp' %}"><img width=160 height=80 src="/static/gv/images/footer_legal.PNG"></a>              <a href="{% url 'hp' %}"><img width=100 height=80 src="/static/gv/images/footer_support.PNG"></a><br>

        </h3>
</div>

</div>
</div>
</div>




{% endblock%}

{% block js %}


{% endblock %}
