{% extends 'gv/base.html' %}
{% load static %}
{% block css %}
{% endblock %}


{% block body %}
  <h1 class="page-header" style="text-align:center;">成績グラフ</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      円グラフ
    </div><!--panel-heaing-->
    <div class="panel-body">
      <div><canvas width="400" height="300" id="pigraph"></canvas></div>
    </div><!--panel-body-->
  </div><!--panel panel-default-->
  <div class="panel panel-default">
    <div class="panel-heading">
      棒グラフ
    </div><!--panel-heaing-->
    <div class="panel-body">
      <div><canvas id="bar-chart"></canvas></div>
    </div><!--panel-body-->
  </div><!--panel panel-default-->
  <div class="panel panel-default">
    <div class="panel-heading">
      レーダーチャート
    </div><!--panel-heaing-->
    <div class="panel-body">
      <div><canvas width="500" height="500" id="myrader"></canvas></div>
    </div><!--panel-body-->
  </div><!--panel panel-default-->
{% endblock %}


{% block js %}
<!--**********************************************************************************************
                                  円グラフの記述
***************************************************************************************************-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script>
  var dataLabelPlugin = {
      afterDatasetsDraw: function (chart, easing) {
          // To only draw at the end of animation, check for easing === 1
          var ctx = chart.ctx;

          chart.data.datasets.forEach(function (dataset, i) {
              var dataSum = 0;
              dataset.data.forEach(function (element){
                  dataSum += element;
              });

              var meta = chart.getDatasetMeta(i);
              if (!meta.hidden) {
                  meta.data.forEach(function (element, index) {
                      // Draw the text in black, with the specified font
                      //ctx.fillStyle = 'rgb(255, 255, 255)';
                      ctx.fillStyle = '#000000';
                      var fontSize = 12;
                      var fontStyle = 'normal';
                      var fontFamily = 'Helvetica Neue';
                      ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                      // Just naively convert to string for now
                      var labelString = chart.data.labels[index];
                      var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

                      // Make sure alignment settings are correct
                      //ctx.textAlign = 'center';
                      ctx.textAlign = 'center';
                      ctx.textBaseline = 'middle';

                      var padding = 25;
                      var position = element.tooltipPosition();
                      ctx.fillText(labelString, position.x, position.y - (fontSize / 2) - padding);
                      ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
                  });
              }
          });
      }
  };

  // Chart
  var unitOfcircle = {{unitOfcircle|safe}}
  var gradeOfcircle = {{gradeOfcircle|safe}}
  var myChart = "pigraph";
  var chart = new Chart(myChart, {
      type: 'pie',
      data: {
          labels: gradeOfcircle,
          datasets: [{
              label: "Sample",
              backgroundColor: ["#3F51B5", "#F44336", "#FF9800", "#4CAF50", "#9C27B0"],
              data: unitOfcircle,
          }]
      },
      options: {
          title: {
              display: false,
              text: "Sample"
          },
          legend:{
            labels: {
              boxWidth: 20,
              fontSize: 10,
            }
          },
          maintainAspectRatio: false,
      },
      plugins: [dataLabelPlugin],
                });
</script>



<!--**************************************************
               棒グラフの記述
****************************************************-->
<script language="JavaScript">
  var residual_unit = {{residual_unit|safe}};
  var kind_name = {{kind_name|safe}};
  var on_course = {{on_course|safe}};
  var ctx = document.getElementById("bar-chart").getContext('2d');
  ctx.canvas.height = 280;
  var ChartDemo = new Chart(ctx, {
         type: 'bar',
         data: {
            //labels: kind_list,
            labels: kind_name,
            datasets: [
            {
            label: "残単位数",
            lineTension: 0,
            fill: false,
            //backgroundColor: ["rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(246,133,124,0.5)","rgba(246,133,124,0.5)","rgba(206,195,73,0.5)"]
            backgroundColor: "rgba(131,185,206,0.5)",
            //borderColor: "#217346",
            data: residual_unit
          },
          {
          label: "履修中単位数",
          lineTension: 0,
          fill: false,
          //backgroundColor: ["rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(246,133,124,0.5)","rgba(246,133,124,0.5)","rgba(206,195,73,0.5)"]
          backgroundColor: "rgba(131,0,206,0.5)",
          //borderColor: "#217346",
          data: on_course
        }
            ]
         },
         options: {
            responsive: true,
            legend: {
              labels: {
                fontSize: 7,
                boxWidth: 20,
              }
            },
            scales: {
          xAxes: [{
            ticks: {
              fontSize: 7,
              maxRotation: 100,
              minRotation: 0
            },
          }],
          yAxes: [{
            ticks: {
              fontSize: 18,
              beginAtZero:true,
            },
          }],
        },
         }
       });
</script>



<!--**********************************************************************************************
                                  レーダーチャート記述
***************************************************************************************************-->
  <script>
    var Achivement_list = {{Achivement_list | safe}}
    var kind_name = {{kind_name | safe}}
    // 色の設定
    var colorSet = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(75, 192, 192)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)'
    };


    // 色のRGB変換
    var color = Chart.helpers.color;

    /*
     * チャートの初期設定
     */
    var config = {
      type: 'radar',
      data: {
        //labels: ["月曜", "火曜", "水曜", "木曜", "金曜", "土曜", "日曜"],
        labels: kind_name,
        datasets: [{
          label: "成績取得率",
          backgroundColor: color(colorSet.red).alpha(0.5).rgbString(),
          borderColor: colorSet.red,
          pointBackgroundColor: colorSet.red,
          data: Achivement_list
        }, ]
      },
      options: {
        responsive: true,
        animation: false,
        showTooltips: false,
        legend: {
          position: 'top',
        },
        title: {
          display: false,
        },
        scale: {
          display: true,
          pointLabels: {
            fontSize: 8,
            fontColor: colorSet.yellow
          },
          ticks: {
            display: true,
            fontSize: 12,
            fontColor: colorSet.green,
            min: 0,
            max: 100,
            beginAtZero: true
          },
          gridLines: {
            display: true,
            color: colorSet.yellow
          }
        }
      }
    };

    /*
     * チャートの作成
     */
    var myRadar = new Chart($("#myrader"), config);
  </script>


{% endblock %}
