{% extends 'gv/basetop.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Re:Re:ss 開発者専用ページ 立教大学履修登録補助システム ～Re:Re:ss/リリス～ {% endblock %}
{% block css %}
<link rel='stylesheet' type='text/css' href='{% static 'gv/counter/my_teacher_search.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/counter/button.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/counter/table.css' %}' />
<!--<link rel='stylesheet' type='text/css' href='{% static 'gv/button/table.css' %}' />-->


<style type="text/css">
  /* ▼ タブメニュー全体の設定 */
  div.tabbox { margin: 0 0 0 0; padding: 0px; width:100%; height:100%;}
  /* ▼ タブ部分のマージンとパディング領域を設定 */
  /* p.tabs { margin: 0px; padding: 0px; } */
  p.tabs a {
     /* ▼ リンクをタブのように見せる */
     display: block; width: 100px; float: left;
     margin: 0px 3px 0px 0px; padding: 3px;
     text-align: center;
     font-size:12px;
  }
  /* ▼ タブごとの配色設定 */
  p.tabs a.tab1 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(170, 0, 0, 0.85);  color: #666; font-weight:600;}
  p.tabs a.tab2 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 170, 0, 0.85);  color: #666; font-weight:600;}
  p.tabs a.tab3 {text-decoration:none; background-color:#fafafa;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-top: 3px solid rgba(0, 0, 170, 0.85);  color: #666; font-weight:600;}
  p.tabs a:hover {opacity:0.7;filter:alpha(opacity=70);}
  /* ▼ タブ中身のボックス */
  div.tab {
     /* ▼ ボックス共通の装飾 */
     height: 100%;  clear: left;
  }
  /* ▼ 各ボックスの配色設定 */
  div#tab1 { border: 2px solid #FFFFFF; background-color: #FFFFFF; }
  div#tab2 { border: 2px solid #FFFFFF; background-color: #FFFFFF; }
  div#tab3 { border: 2px solid #FFFFFF; background-color: #FFFFFF; }
  div.tab p { margin: 0.5em; }

</style>

{% endblock%}

{% block body %}
<!--メインの部分-->
<!--<img src="/static/gv/teacher_search/images/kyozyubunnseki.png" alt="Re:Re:ss" width="100%"/>-->
<!--経過時間：{{elapsed_time}} で表示-->
<h5 style="color: #000;">このページではあなたの学科の一学年上の<br>先輩が実際に履修した例を閲覧できます</h5>
<a href={% url 'pastdata' %}><h4><span class="non-class" style="background: linear-gradient(transparent 97%, #000 50%);">他の先輩の履修例を見る</span></h4></a>

<br>
<div class="tabbox">
  <div id="tab1" class="tab">
    <table>
      <thead>
      <tr>
        <th>科目名</th>
        <th>カテゴリ</th>
        <th>教授名</th>
        <th>学期</th>
        <th>履修年度</th>
      </tr>
      </thead>
      <tbody>
      {% for message in data %}
      <tr>
        <td>
            <input type="hidden" name="sub-name" value="{{message.0}}">
            {{message.0}}
        </td>
        <td>{{ message.1 }}</td>
        <td>{{ message.2 }}</td>
        <td>{{ message.3 }}</td>
        <td>{{ message.4 }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div><!--tab-box-->
  

{% endblock %}


{% block js %}

<script>
    $('.suggest_input').click(function() {
    $('.teacher_input').blur();
    })
</script>
  
  
  
<script>
  
    $('.teacher_input').focusout(function(){
      var input_t_name_true = $('.teacher_input').val();
      //$(".t_sub_input").css("display", "block");
      //$(".t_sub_input").css("text-align", "center");
      $.ajax({
        type: "GET",
        url: "https://grade-visualizer101.herokuapp.com/gv/more/",
        data: { name: input_t_name_true},
        success　: function(data){
          $('#result').html(data);//A
        },
        datatype:'json',
      });
    });
</script>
  
<script>
  $('.teacher_input').focus(function() {
  $('.t_sub_input option:not(:first)').remove();
    });
</script>
  
  
  <!--入った瞬間focus-->
<script>
  var input_t_name = $('.teacher_input');
  var message = "{{message|safe}}"
  var length = message.length
  if(length!=0){
    $(input_t_name).focus();
    $(input_t_name).blur();  }
</script>

<!--テーブル切り替え-->
<!--
<script type="text/javascript">
  function ChangeTab(tabname) {
     // タブメニュー実装
     document.getElementById('tab1').style.display = 'none';
     document.getElementById('tab2').style.display = 'none';
     // タブメニュー実装
     document.getElementById(tabname).style.display = 'block';
  }


</script>

-->
<!-- ページを開いた際の最初に表示されるタブの選択 -->
<script type="text/javascript">
  ChangeTab('tab1');
</script>

<!--
<script>
    var teacher_sub_dict = {{teacher_sub_dict|safe}};
    var input_t_name = $('.teacher_input');
  
    input_t_name.focus(function() {
        $('.t_sub_input option:not(:first)').remove();
      });
  
    input_t_name.blur(function(){
      var input_t_name_true = input_t_name.val();
  
      if (teacher_sub_dict[input_t_name_true]) {
        console.log('e');
        var t_s_list = teacher_sub_dict[input_t_name_true];
        for (i = 0; i < t_s_list.length; i++) {
          $('.t_sub_input').append(`<option value=${t_s_list[i]}>${t_s_list[i]}</option>`);
        }
      };
    });
  </script>
  
  
  <script>
    var input_t_name = $('.teacher_input');
    var message = "{{message|safe}}"
    var length = message.length
    if(length!=0){
      $(input_t_name).focus();
    }
  </script>
  
-->












<!--**************************************************
               
****************************************************-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<!--aaaaaaaaaaaaaaaaaaaaa 読み込み中 aaaaaaaaaaaaaaaaa-->
<script src='https://cdn.rawgit.com/jaredreich/notie.js/a9e4afbeea979c0e6ee50aaf5cb4ee80e65d225d/notie.js'></script>


<!--**************************************************
               棒グラフの記述
****************************************************-->
<script language="JavaScript">
  var nums = {{nums|safe}};
  var grade_list_sample = {{grade_list_sample|safe}};
  var r_form = '{{r_form|safe}}'
  var ctx = document.getElementById("bar-chart").getContext('2d');
  ctx.canvas.height = 280;
  var ChartDemo = new Chart(ctx, {
         type: 'bar',
         data: {
            //labels: kind_list,
            labels: grade_list_sample,
            datasets: [
            {
            label: r_form,
            lineTension: 0,
            fill: false,
            //backgroundColor: ["rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(131,185,206,0.5)","rgba(246,133,124,0.5)","rgba(246,133,124,0.5)","rgba(206,195,73,0.5)"]
            backgroundColor: "rgba(131,90,206,0.4)",
            //borderColor: "#217346",
            data: nums
          },
            ]
         },
         options: {
            responsive: true,
            legend: {
              labels: {
                fontSize:13,
                boxWidth: 10,
              }
            },
            scales: {
          xAxes: [{
            ticks: {
              fontSize: 15,
              maxRotation: 100,
              minRotation: 0
            },
          }],
          yAxes: [{
            ticks: {
              fontSize: 10,
              beginAtZero:true,
              min: 0,
              callback: function(value) {if (value % 1 === 0) {return value+'人';}}
            },
          }],
        },
         }
       });
</script>

<!--入力補完-->
<script src='{% static 'gv/teacher_search/suggest.js' %}'></script>
<script>
  var teacher_list_space = {{teacher_list_space|safe}};
  function startSuggest() {
    new Suggest.Local(
          "id_t_name",    // 入力のエレメントID
          "suggest", // 補完候補を表示するエリアのID
          teacher_list_space,      // 補完候補の検索対象となる配列
          {dispMax: 10, interval: 1000}); // オプション
  }

  window.addEventListener ?
    window.addEventListener('load', startSuggest, false) :
    window.attachEvent('onload', startSuggest);
</script>

{% endblock %}
