{% extends 'gv/base.html' %}
{% load static %}


{% block body %}
<div id="page-wrapper" class='page-wrapper'>
<div class"row">
  <div class='col-lg-12'>
    <div class='detail_table_class'>
      <table class='type06 table_center_class'>
        <thead>
          <tr>
            <th>店名</th>
            <th>エリア</th>
            <th>利用時間</th>
            <th>価格</th>
          </tr>
        </thead>
        <tbody>
          {% for message in food_pool %}
          <tr>
            <td>{{ message.shop_name }}</td>
            <td>{{ message.area }}</td>
            <td>{{ message.utilization_time }}</td>
            <td>{{message.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
