{% extends 'gv/basetop.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Re:Re:ss ABOUT US 立教大学履修登録補助システム ～Re:Re:ss/リリス～ {% endblock %}
{% block css %}
<!--<link rel='stylesheet' type='text/css' href='{% static 'gv/teacher_search/my_teacher_search.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'gv/teacher_search/button.css' %}' />-->
<!--<link rel='stylesheet' type='text/css' href='{% static 'gv/button/table.css' %}' />-->
<!--<link rel='stylesheet' type='text/css' href='{% static 'gv/teacher_search/button.css' %}' />-->
<style>
.box6 {
  padding: 0.5em 1em;
  margin: 2em 0;
  background:rgb(240, 239, 239);
  border: dashed 2px rgb(224, 224, 224);/*点線*/
}
.box6 p {
  margin: 0; 
  padding: 0;
}
.box61 {
  background:rgb(155, 149, 247);
  border: dashed 2px rgb(106, 101, 153);/*点線*/
}
.box61 p {
  margin: 0; 
  padding: 0;
}
.hamon{
  border-radius: 20px;
  color:#fff;
  background: rgb(3, 63, 112);
  position: relative;
  padding: 15px 50px;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.hamon::before,
.hamon::after{
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
  transform: scale(0,0);
}
.hamon:active{
  opacity: .7;
}
.hamon:hover::before{
  animation: hamon 2s infinite;
}
.hamon:hover::after{
  animation: hamon 2s .3s infinite;
}
@keyframes hamon {
  0%   {  transform: scale(0,0);}
  100% {  transform: scale(50,50);opacity: 0;}
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typing { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}
.typing2 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}
</style>

<style>
.anime_test3 {
    display:  block;                /* ブロック要素にする */
    margin: 0 auto;                 /* 要素中央揃え */
    position:  relative;            /* 位置指定 */
    animation: anime1 4s ease;      /* アニメーション指定 */
}
 
@keyframes anime1 {
    0% {
        opacity:  0;                /* 透明度指定 */
        top: 500px;                  /* 位置指定 */
    }
    50% {
        opacity:  0;                /* 透明度指定 */
        top: 500;                     /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 220;                     /* 位置指定 */
    }
}
.anime_test4 {
    display:  block;                /* ブロック要素にする */
    margin: 0 auto;                 /* 要素中央揃え */
    position:  relative;            /* 位置指定 */
    animation: anime1 6.5s ease;      /* アニメーション指定 */
}
 
@keyframes anime1 {
    0% {
        opacity:  0;                /* 透明度指定 */
        top: 700px;                  /* 位置指定 */
    }
    50% {
        opacity:  0;                /* 透明度指定 */
        top: 700;                     /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 350;                     /* 位置指定 */
    }
}
</style>

{% endblock%}
{% block seo %}立教大学　Re:Re:ss/リリス　履修　このページは、ABOUT　USのページです。お問い合わせやTwitterの情報が確認できます。{% endblock %}
{% block body %}
<!--メインの部分-->
<!--<h3 class="page-header page-title" style="text-align:center;">お問い合わせ</h3>-->
<!--<img src="/static/gv/homepage/images/titlelogo2.PNG" alt="Re:Re:ss" width="50%"/>
-->

<p style="position: relative;">
    <img src="{% static 'gv/homepage/images/stationback2.PNG'%}" alt="立教大学　Re:Re:ss/リリス　履修　hp-login" class="mainimage" width="100%" height="300%">
    <div class="typing" style="position: absolute; top: 15px; left: 10px; width: 300px; text-align: center; font-size:24px; color: rgb(252, 251, 212);">Welcome to Re:Re:ss!!</div>
    <div class="typing2" style="position: absolute; top: 80px; left: 10px; width: 300px; text-align: center; font-size:24px; color: rgb(252, 251, 212);">CLICK TO START >>></div>
    <div class="anime_test3" style="text-align:center; position: absolute; top: 220px; left: 40px; width: 300px; text-align: center; font-size:24px; color: rgb(252, 251, 212);">
        <a href={% url 'hp' %}>
            <button class="hamon">
                    START  Re:Re:ss
            </button>
        </a>                      
    </div>
    <p class="anime_test4" style="text-align:center; position: absolute; top: 350px; left: 40px; width: 300px; text-align: center; font-size:24px; color: rgb(252, 251, 212); font-size:16px;">リリスの使い方<br><br>新入生<br>「先輩の履修」という機能を使ってみてください。履修の組み方の手助けになるかもしれません。<br><br>履修登録<br>人気授業分析（授業名クリック） → 授業分析（ページ下担当教授名クリック） → 教授分析<br>といった使い方が便利です。<br><br>成績参照<br>GPAランキングや成績グラフで自分のステータスが分かります。レビュー機能で履修した授業の評価をすると、他の人の役に立つかもしれません。<br><br>左上メニューのトップページを基盤に、それぞれの機能をお使いください。<br><br>Re:Re:ssで素敵な授業と巡り合いましょう。</p>      
    <!--
    <div class="anime_test3" style="position: absolute; top: 15px; left: 10px; width: 300px;"></div>
    <img class="anime_test2" src="{% static 'gv/homepage/images/titlelogo2.PNG'%}" style="position: absolute; top: 15px; left: 10px; width: 300px;">
    -->
</p>




{% endblock %}


{% block js %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>-->

{% endblock %}
