
/*スマホ用（大きいとき）*/
/*
@media screen and (max-width: 560px) {
  .frame {
  }
}*/

@media screen and (min-width: 460px) {
	/* 幅が760pxより大きい時に適用される(PC用のレイアウト) */
  /*スマホ用*/
  .bg {
    background-image: url("/static/gv/base/images/pc060992.jpg");
    background-size: cover;
  }
  .opa {
    background: rgba(255,255,255,0.3);
  }
  .button {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 797px;
    left: 210px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    outline: none;
  }
  .backgroundbutton{
  position:absolute;
  top:47px;
  left:164px;
  width:152px;
  height:21px;
  border-radius:10px;
  }
  .frame {
    /* スマホのフレーム画像を上下中央に表示 */
		position: relative;
    margin: 0 auto;
    padding-top: 1%;
    /*z-index: 2;*/
    width: 480px;
    height: 787px;
    height: auto;
		}
    /* コンテンツをスマホのフレーム内に収まるように上下中央に表示 */
    .main {
      /*overflow: scroll;*/
      overflow-y: scroll;
      overflow-x: hidden;
      width: 385px;
      height: 651px;
      position: absolute;
      top: 112px;
      left: 48px;
      /*z-index: 3;*/
    }
    .main::-webkit-scrollbar{
      width: 5px;
    }
    .mian::-webkit-scrollbar-track{
      background: black;
      border: none;
      border-radius: 10px;
      box-shadow: inset 0 0 2px #777;
    }
    .main::-webkit-scrollbar-thumb{
      background: #aaa;
      border-radius: 10px;
      box-shadow: none;
    }
    .relative {
      /*margin-top: 10%;*/
      position: relative;
      width: auto;
      height: auto;
    }
    /*スマホフレームの画像*/
    .frame-img {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 46px;
    }
}



/*drowerの上部にスペースを与える*/
.contents-space {
  height: 10px;
}


.background {
  background-color: #FAFAFA;
  overflow: hidden;
}




.li-d {
  padding-bottom: 5px;
  border-bottom: solid #F5F6F7;
  text-align: left;
  padding-left: 2em;
  text-indent: -1em;
}


/*divの大きさを確認するときに使用*/
.line {
  border: solid;
  min-height: 30px;
}
.nav {
  box-shadow: 0 0 0 5px rgb(173,195,211);
  color: #fff;
}




/*ページタイトル*/
/*
.page-title {
  border-bottom: double 5px #FFC778;
  }
*/

/*************************************************************
追加
**************************************************************/
/*
#body-design2{
    background-color:#CEE3F6;
}
#body-design3{
    background-color:#E0ECF8;
}
*/




/*divの大きさを確認するときに使用*/
.line {
  border: solid;
}


.li-d {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  /*margin-bottom: 3px;*//*下のバーとの余白*/
 	/*line-height: 1.5;*/
  /*padding: 0.5em;*/
  list-style-type: none!important;/*ポチ消す*/
}
